# Create .env.dev for development or .env.prod for production and fill in the values
##
# Authentication method: 'local' or 'gov'
APP_AUTH_METHOD=""
## Aplication Secret Key
SECRET_KEY=""
## NODE Environment: 'development' or 'production'
NODE_ENV=""

## IP Blacklist Ranges in format: "1.0.0.0/8,2.0.0.0/8 ..." (comma-separated CIDR notation)
IP_BLACKLIST_RANGES= 

# Default PAGINATION settings
PAGINATION_MAX_LIMIT=100
PAGINATION_DEFAULT_LIMIT=10

#MongoDb URI
MONGO_URI=""
# Database configuration for MySQL
DATABASE_HOST=
# Database port, default is 3306 for MySQL
DATABASE_PORT=
# Database username 
DATABASE_USERNAME=
# Database password
DATABASE_PASSWORD=
# Database name
DATABASE_NAME=

# Redis configuration
REDIS_HOST=
REDIS_PORT=
# Route for Bull Board
BULL_BOARD_ROUTE=